!**/[Pp]ackages/build/
!*.[Cc]ache/
!.axoCover/settings.json
$RECYCLE.BIN/
$tf/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
*.app
*.appx
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cab
*.cachefile
*.coverage
*.coveragexml
*.dbmdl
*.dbproj.schemaview
*.dmg
*.dotCover
*.DotSettings.user
*.e2e
*.GhostDoc.xml
*.gpState
*.ilk
*.iobj
*.ipdb
*.jfm
*.jmconfig
*.ldf
*.lnk
*.log
*.mdf
*.meta
*.mm.*
*.mode1v3
*.msi
*.msix
*.msm
*.msp
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.pbxuser
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.rdl.data
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.stackdump
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.tm_build_errors
*.tss
*.user
*.userosscache
*.userprefs
*.usertasks
*.vbw
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xsd.cs
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*~
.*crunch*.local.xml
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.axoCover/*
.build
.builds
.com.apple.timemachine.donotpresent
.cr/personal
.DocumentRevisions-V100
.DS_Store
.fake/
.fseventsd
.idea
.idea/
.JustCode
.localhistory/
.LSOverride
.mfractor/
.ntvs_analysis.dat
.paket/paket.exe
.sass-cache/
.Spotlight-V100
.swiftpm
.TemporaryItems
.Trashes
.VolumeIcon.icns
.vs/
.vscode
._*
aclocal.m4
AppPackages/
artifacts/
ASALocalRun/
autom4te.cache/
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
bld/
build
BundleArtifacts/
ClientBin/
config.make
config.status
Credits.rtf
csx/
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
ecf/
ehthumbs.db
ehthumbs_vista.db
FakesAssemblies/
Generated\ Files/
Generated_Code/
Icon
Installer/PKGRoot/
install-sh
ipch/
Makefile.in
nCrunchTemp_*
Network Trash Folder
node_modules/
OpenCover/
orleans.codegen.cs
Package.StoreAssociation.xml
paket-files/
project.fragment.lock.json
project.lock.json
project.xcworkspace
publish/
PublishScripts/
rcf/
ServiceFabricBackup/
Source/Data/*
StyleCopReport.xml
tarballs/
Temporary Items
test-results/
TestResult.xml
Thumbs.db
UpgradeLog*.htm
UpgradeLog*.XML
x64/
x86/
xcuserdata
[Bb]in/
[Bb]uild
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Dd]esktop.ini
[Ee]xpress/
[Ll]og/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
_Chutzpah*
_NCrunch_*
_pkginfo.txt
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
__pycache__/
~$*
DataCompiler/dataCompiler.exe
