<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>4.2.0</string>
	<key>CFBundleVersion</key>
	<string>4200</string>
	<key>IsMainStreamDistro</key>
	<true/>
	<key>UpdateInfoEndpoint</key>
	<string>https://gitee.com/vchewing/vChewing-macOS/raw/main/Update-Info.plist</string>
	<key>UpdateInfoEndpointLegacy</key>
	<string>https://gitee.com/vChewing/vChewing-OSX-Legacy/raw/main/Update-Info.plist</string>
	<key>UpdateInfoSite</key>
	<string>https://gitee.com/vChewing/vChewing-macOS/releases</string>
	<key>UpdateInfoSiteGitHub</key>
	<string>https://github.com/vChewing/vChewing-macOS/releases</string>
	<key>UpdateInfoSiteLegacy</key>
	<string>https://gitee.com/vChewing/vChewing-OSX-Legacy/releases</string>
	<key>UpdateInfoSiteLegacyGitHub</key>
	<string>https://github.com/vChewing/vChewing-OSX-Legacy/releases</string>
</dict>
</plist>
