<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.atelierInmu.vChewing.keyLayouts</string>
	<key>CFBundleName</key>
	<string>vChewingKeyLayout</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>KLInfo_vChewingDachen</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.atelierInmu.keyboardlayout.vChewingKeyLayout.vChewingDachen</string>
		<key>TISIntendedLanguage</key>
		<string>zh-Hanb</string>
	</dict>
	<key>KLInfo_vChewingETen</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.atelierInmu.keyboardlayout.vChewingKeyLayout.vChewingETen</string>
		<key>TISIntendedLanguage</key>
		<string>zh-Hanb</string>
	</dict>
	<key>KLInfo_vChewingIBM</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.atelierInmu.keyboardlayout.vChewingKeyLayout.vChewingIBM</string>
		<key>TISIntendedLanguage</key>
		<string>zh-Hanb</string>
	</dict>
	<key>KLInfo_vChewingMiTAC</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.atelierInmu.keyboardlayout.vChewingKeyLayout.vChewingMiTAC</string>
		<key>TISIntendedLanguage</key>
		<string>zh-Hanb</string>
	</dict>
	<key>KLInfo_vChewingSeigyou</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.atelierInmu.keyboardlayout.vChewingKeyLayout.vChewingSeigyou</string>
		<key>TISIntendedLanguage</key>
		<string>zh-Hanb</string>
	</dict>
</dict>
</plist>
