<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>BPMF</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFEULAContent</key>
	<string>License texts used in the customized about window.</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>org.atelierInmu.inputmethod.vChewing.IMECHS</key>
			<dict>
				<key>TISDoubleSpaceSubstitution</key>
				<string>。</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hans</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>MenuIcon-SCVIM.png</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hans</string>
					<string>Han</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>MenuIcon-SCVIM.png</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>MenuIcon-SCVIM.png</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicode</string>
			</dict>
			<key>org.atelierInmu.inputmethod.vChewing.IMECHT</key>
			<dict>
				<key>TISDoubleSpaceSubstitution</key>
				<string>。</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>MenuIcon-TCVIM.png</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
					<string>Han</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>MenuIcon-TCVIM.png</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>MenuIcon-TCVIM.png</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicode</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>org.atelierInmu.inputmethod.vChewing.IMECHT</string>
			<string>org.atelierInmu.inputmethod.vChewing.IMECHS</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>org_atelierInmu_inputmethod_vChewing_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>SessionCtl</string>
	<key>InputMethodServerDelegateClass</key>
	<string>SessionCtl</string>
	<key>InputMethodServerPreferencesWindowControllerClass</key>
	<string>ctlPrefWindow</string>
	<key>InputMethodSessionController</key>
	<string>SessionCtl</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2021 and onwards The vChewing Project.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSRequiresAquaSystemAppearance</key>
	<string>No</string>
	<key>NSWindowDarkChocolate</key>
	<string>Yes</string>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
	<key>TISInputSourceID</key>
	<string>org.atelierInmu.inputmethod.vChewing</string>
	<key>TISIntendedLanguage</key>
	<string>zh-Hans</string>
	<key>TISParticipatesInTouchBar</key>
	<false/>
	<key>UpdateInfoEndpoint</key>
	<string>https://gitee.com/vchewing/vChewing-macOS/raw/main/Update-Info.plist</string>
	<key>UpdateInfoSite</key>
	<string>https://gitee.com/vChewing/vChewing-macOS/releases</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hans</string>
		<string>Hant</string>
		<string>Hani</string>
		<string>Hanb</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>MenuIcon-TCVIM.png</string>
</dict>
</plist>
