<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>MACV</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFEULAContent</key>
	<string>License texts used in the customized about window.</string>
	<key>CFUpstreamEULAContent</key>
	<string>[The previous upstream EULA contents have been removed since this project is not including program contents from McBopomofo anymore. You may refer to their EULA contents hosted in their repository (GitHub://OpenVanilla/McBopomofo/). OpenVanilla is both &quot;the name of a FOSS software developer group&quot; and the name of a software developed by them (GitHub://OpenVanilla/OpenVanilla/). The OpenVanilla software (and SpaceChewing, commonly referred as &quot;香草注音&quot;) is totally different from McBopomofo and is out-of-topic.]</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>org.atelierInmu.inputmethod.vChewing.IMECHS</key>
			<dict>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>简唯</string>
				</dict>
				<key>TISInputSourceID</key>
				<string>org.atelierInmu.inputmethod.vChewing.IMECHS</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hans</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hans</string>
					<string>Hani</string>
					<string>Hanb</string>
					<string>Han</string>
				</array>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>MenuIcon-SCVIM.png</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>MenuIcon-SCVIM.png</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicode</string>
			</dict>
			<key>org.atelierInmu.inputmethod.vChewing.IMECHT</key>
			<dict>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>繁唯</string>
				</dict>
				<key>TISInputSourceID</key>
				<string>org.atelierInmu.inputmethod.vChewing.IMECHT</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
					<string>Hani</string>
					<string>Hanb</string>
					<string>Han</string>
				</array>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>MenuIcon-TCVIM.png</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>MenuIcon-TCVIM.png</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicode</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>org.atelierInmu.inputmethod.vChewing.IMECHT</string>
			<string>org.atelierInmu.inputmethod.vChewing.IMECHS</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>SessionCtl</string>
	<key>InputMethodServerDataSourceClass</key>
	<string>SessionCtl</string>
	<key>InputMethodServerDelegateClass</key>
	<string>SessionCtl</string>
	<key>InputMethodServerPreferencesWindowControllerClass</key>
	<string>Preferences</string>
	<key>InputMethodSessionController</key>
	<string>SessionCtl</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2021 and onwards The vChewing Project.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSRequiresAquaSystemAppearance</key>
	<string>No</string>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
	<key>TISIconIsTemplate</key>
	<true/>
	<key>TISInputSourceID</key>
	<string>org.atelierInmu.inputmethod.vChewing</string>
	<key>TISParticipatesInTouchBar</key>
	<false/>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
	<key>UpdateInfoEndpoint</key>
	<string>https://gitee.com/vchewing/vChewing-macOS/raw/main/Update-Info.plist</string>
	<key>UpdateInfoEndpointLegacy</key>
	<string>https://gitee.com/vChewing/vChewing-OSX-Legacy/raw/main/Update-Info.plist</string>
	<key>UpdateInfoSite</key>
	<string>https://gitee.com/vChewing/vChewing-macOS/releases</string>
	<key>UpdateInfoSiteGitHub</key>
	<string>https://github.com/vChewing/vChewing-macOS/releases</string>
	<key>UpdateInfoSiteLegacy</key>
	<string>https://gitee.com/vChewing/vChewing-OSX-Legacy/releases</string>
	<key>UpdateInfoSiteLegacyGitHub</key>
	<string>https://github.com/vChewing/vChewing-OSX-Legacy/releases</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hant</string>
		<string>Hans</string>
		<string>Hani</string>
		<string>Hanb</string>
		<string>Han</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>MenuIcon-TCVIM.png</string>
</dict>
</plist>
