<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.atelierInmu.vChewing.keyLayouts</string>
	<key>CFBundleName</key>
	<string>vChewingKeyLayout</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>KLInfo_vChewing Dachen</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.atelierInmu.vChewing.keyLayouts.vchewingdachen</string>
		<key>TISIntendedLanguage</key>
		<string>zh-Hanb</string>
	</dict>
	<key>KLInfo_vChewing ETen</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.atelierInmu.vChewing.keyLayouts.vchewingeten</string>
		<key>TISIntendedLanguage</key>
		<string>zh-Hanb</string>
	</dict>
	<key>KLInfo_vChewing FakeSeigyou</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.atelierInmu.vChewing.keyLayouts.vchewingfakeseigyou</string>
		<key>TISIntendedLanguage</key>
		<string>zh-Hanb</string>
	</dict>
	<key>KLInfo_vChewing IBM</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.atelierInmu.vChewing.keyLayouts.vchewingibm</string>
		<key>TISIntendedLanguage</key>
		<string>zh-Hanb</string>
	</dict>
	<key>KLInfo_vChewing MiTAC</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.atelierInmu.vChewing.keyLayouts.vchewingmitac</string>
		<key>TISIntendedLanguage</key>
		<string>zh-Hanb</string>
	</dict>
</dict>
</plist>
