name: debug-macOS-MainAssembly
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: test-macOS-MainAssembly
    runs-on: macos-14
    env:
        GIT_SSL_NO_VERIFY: true
    steps:
      - uses: maxim-lobanov/setup-xcode@v1.6.0
        with:
          xcode-version: '16.1.0'
      - uses: actions/checkout@v1
      - name: Clean
        run: make spmClean
      - name: Build
        run: make spmDebug
      - name: Test
        run: swift test --no-parallel --package-path ./Packages/vChewing_MainAssembly/
