name: unit-test-typewriter-linux
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: test-linux-typewriter
    runs-on: ubuntu-latest
    env:
        GIT_SSL_NO_VERIFY: true
    steps:
      - uses: SwiftyLab/setup-swift@latest
      - uses: actions/checkout@v1
      - name: Clean
        run: make spmClean
      - name: Test
        run: swift --version && swift test --no-parallel --package-path ./Packages/vChewing_Typewriter/
